button {
    border: none;
    background-color: rgb(80, 60, 209);
    font-size: 24px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
button:hover {
    background-color: rgb(43, 156, 184);
}
.equals {
    grid-column: 3/5;
    background-color: rgb(161, 29, 243);
}
.equals:hover {
    background-color: rgb(185, 15, 228);
}
